.helper-details .heading{
    padding: 7rem;
}

.helper-details .row{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    align-items: center;
}

.helper-details .image{
    flex: 1 1 35rem;
}

.helper-details .image img{
    width: 100%;
    border-radius: 2%;
}

.helper-details .details{
    flex: 1 1 35rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
}
  
.helper-details .details h1{
    font-size: 4rem;
    margin-bottom: 20px;
}
  
.helper-details .details h3{
    font-size: 2rem;
    line-height: 1.8;
    margin-bottom: 20px;
}

.helper-details .details p{
    font-size: 1.5rem;
    line-height: 1.8;
    margin-bottom: 20px;
}
  
.helper-details .details .btn{
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 5px;
}

ul{
    font-size: 1.5rem;
    margin-bottom: 15px;
    margin-right: 35px;
}

.footer{
    margin-top: 100px;
}
